Data were downloaded and preprocessed from: https://data.worldbank.org/

In [15]:
import pandas as pd
import numpy as np

In [16]:
aids = pd.read_csv('AIDS.csv')

In [17]:
aids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 15 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              145 non-null float64
2006              145 non-null float64
2007              145 non-null float64
2008              145 non-null float64
2009              145 non-null float64
2010              145 non-null float64
2011              145 non-null float64
2012              145 non-null float64
2013              145 non-null float64
2014              145 non-null float64
2015              145 non-null float64
dtypes: float64(11), object(4)
memory usage: 31.1+ KB

In [19]:
incomeshare = pd.read_csv('INCOMESHARE.csv')

In [20]:
incomeshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 15 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              75 non-null float64
2006              73 non-null float64
2007              71 non-null float64
2008              72 non-null float64
2009              77 non-null float64
2010              83 non-null float64
2011              76 non-null float64
2012              79 non-null float64
2013              76 non-null float64
2014              80 non-null float64
2015              80 non-null float64
dtypes: float64(11), object(4)
memory usage: 31.1+ KB

In [21]:
mmrt = pd.read_csv('MMRT.csv')

In [22]:
mmrt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 15 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              231 non-null float64
2006              231 non-null float64
2007              231 non-null float64
2008              231 non-null float64
2009              231 non-null float64
2010              231 non-null float64
2011              231 non-null float64
2012              231 non-null float64
2013              231 non-null float64
2014              231 non-null float64
2015              231 non-null float64
dtypes: float64(11), object(4)
memory usage: 31.1+ KB

In [23]:
mort = pd.read_csv('MORT.csv')
mort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 15 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              239 non-null float64
2006              239 non-null float64
2007              239 non-null float64
2008              239 non-null float64
2009              239 non-null float64
2010              239 non-null float64
2011              239 non-null float64
2012              239 non-null float64
2013              239 non-null float64
2014              239 non-null float64
2015              239 non-null float64
dtypes: float64(11), object(4)
memory usage: 31.1+ KB

In [24]:
pov = pd.read_csv('POV.csv')
pov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 15 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              89 non-null float64
2006              87 non-null float64
2007              85 non-null float64
2008              86 non-null float64
2009              91 non-null float64
2010              97 non-null float64
2011              90 non-null float64
2012              93 non-null float64
2013              90 non-null float64
2014              94 non-null float64
2015              91 non-null float64
dtypes: float64(11), object(4)
memory usage: 31.1+ KB

In [26]:
data_files = ['AIDS', 'INCOMESHARE', 'MMRT', 'MORT', 'POV']

In [27]:
# Concatenate all
data = pd.concat([pd.read_csv(file_name+'.csv') for file_name in data_files], axis=1)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 75 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              145 non-null float64
2006              145 non-null float64
2007              145 non-null float64
2008              145 non-null float64
2009              145 non-null float64
2010              145 non-null float64
2011              145 non-null float64
2012              145 non-null float64
2013              145 non-null float64
2014              145 non-null float64
2015              145 non-null float64
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              75 non-null float64
2006              73 non-null float64
2007              71 non-null float64
2008              72 non-null float64
2009              77 non-null float64
2010              83 non-null float64
2011              76 non-null float64
2012              79 non-null float64
2013              76 non-null float64
2014              80 non-null float64
2015              80 non-null float64
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              231 non-null float64
2006              231 non-null float64
2007              231 non-null float64
2008              231 non-null float64
2009              231 non-null float64
2010              231 non-null float64
2011              231 non-null float64
2012              231 non-null float64
2013              231 non-null float64
2014              231 non-null float64
2015              231 non-null float64
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              239 non-null float64
2006              239 non-null float64
2007              239 non-null float64
2008              239 non-null float64
2009              239 non-null float64
2010              239 non-null float64
2011              239 non-null float64
2012              239 non-null float64
2013              239 non-null float64
2014              239 non-null float64
2015              239 non-null float64
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
2005              89 non-null float64
2006              87 non-null float64
2007              85 non-null float64
2008              86 non-null float64
2009              91 non-null float64
2010              97 non-null float64
2011              90 non-null float64
2012              93 non-null float64
2013              90 non-null float64
2014              94 non-null float64
2015              91 non-null float64
dtypes: float64(55), object(20)
memory usage: 154.8+ KB

In [35]:
df = data.dropna(axis=0)

In [36]:
len(df)

21

In [38]:
data = df.reset_index(drop=True)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 75 columns):
Country Name      21 non-null object
Country Code      21 non-null object
Indicator Name    21 non-null object
Indicator Code    21 non-null object
2005              21 non-null float64
2006              21 non-null float64
2007              21 non-null float64
2008              21 non-null float64
2009              21 non-null float64
2010              21 non-null float64
2011              21 non-null float64
2012              21 non-null float64
2013              21 non-null float64
2014              21 non-null float64
2015              21 non-null float64
Country Name      21 non-null object
Country Code      21 non-null object
Indicator Name    21 non-null object
Indicator Code    21 non-null object
2005              21 non-null float64
2006              21 non-null float64
2007              21 non-null float64
2008              21 non-null float64
2009              21 non-null float64
2010              21 non-null float64
2011              21 non-null float64
2012              21 non-null float64
2013              21 non-null float64
2014              21 non-null float64
2015              21 non-null float64
Country Name      21 non-null object
Country Code      21 non-null object
Indicator Name    21 non-null object
Indicator Code    21 non-null object
2005              21 non-null float64
2006              21 non-null float64
2007              21 non-null float64
2008              21 non-null float64
2009              21 non-null float64
2010              21 non-null float64
2011              21 non-null float64
2012              21 non-null float64
2013              21 non-null float64
2014              21 non-null float64
2015              21 non-null float64
Country Name      21 non-null object
Country Code      21 non-null object
Indicator Name    21 non-null object
Indicator Code    21 non-null object
2005              21 non-null float64
2006              21 non-null float64
2007              21 non-null float64
2008              21 non-null float64
2009              21 non-null float64
2010              21 non-null float64
2011              21 non-null float64
2012              21 non-null float64
2013              21 non-null float64
2014              21 non-null float64
2015              21 non-null float64
Country Name      21 non-null object
Country Code      21 non-null object
Indicator Name    21 non-null object
Indicator Code    21 non-null object
2005              21 non-null float64
2006              21 non-null float64
2007              21 non-null float64
2008              21 non-null float64
2009              21 non-null float64
2010              21 non-null float64
2011              21 non-null float64
2012              21 non-null float64
2013              21 non-null float64
2014              21 non-null float64
2015              21 non-null float64
dtypes: float64(55), object(20)
memory usage: 12.4+ KB

In [45]:
data_df = pd.DataFrame(data['Country Name'].iloc[:,0])

In [43]:
for year in range(2005, 2016):
    data_df

0                Armenia
1                Belarus
2             Costa Rica
3     Dominican Republic
4                Ecuador
5                  Spain
6                 France
7                Georgia
8               Honduras
9                Ireland
10                 Italy
11            Kazakhstan
12       Kyrgyz Republic
13             Lithuania
14                Latvia
15               Moldova
16           Netherlands
17                  Peru
18              Paraguay
19           El Salvador
20               Ukraine
Name: Country Name, dtype: object